{% extends "customer/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid mt-3">
	<div class="row">


		<!-- filter -->

		<div class="col-lg-3 mx-auto">
			<div class="list-group">
        <h2>Category</h2>
				<a href="/" class="list-group-item list-group-item-action btn btn-outline-success">All Products</a>

				{% for category in posts %}
				<a href="/?category={{category.id}}"
					class="list-group-item list-group-item-action btn btn-outline-success ">{{category.name}}</a>
				{% endfor %}
			</div>
		</div>

		<!-- all products -->
		<div id='products' class="col-lg-9 mx-auto">
			<div class="row mx-auto">
				{% for product in products %}
				<div class="card mx-auto mb-3" id={{product.id}} style="width: 18rem;">
					<img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
					<div class="card-body">
						<p class="card-title">{{product.name}}</p>
						<p class="card-text"><b>Rs.{{product.price}}</b></p>
            <p class="card=description">{{ product.description}}</p>

            <form action="" method="POST" class="btn-block">
							{% csrf_token %}
							<input hidden type="text" name='product' value='{{product.id}}'>
							<input type="submit" class="float-right btn btn-success form-control"
								value="Add To Cart">
						</form>

					</div>

				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% endblock content %}
